/* biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind directves */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  prefix: "d-";
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui config option */
  themes: light --default;
}
@plugin "daisyui/theme" {
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui/theme config option */
  name: "light";
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui/theme config option */
  default: true;

  --color-primary: #0e7daf;
  --color-primary-content: #ffffff;

  --color-error: #ef5258;
}

@theme {
  --color-foxpost-red: #a82220;
}

@utility container {
  margin: auto;
  padding: 1rem;
}

@utility material-pattern {
  background-image: url(/material-pattern.svg);
}

@utility kite-pattern {
  background-image: url(/kite-pattern.svg);
}

@utility home-pattern {
  background-image: url(/home-pattern.svg);
}

@utility splash-pattern {
  background-image: url(/splash-background.svg);
}
@utility clouds-pattern {
  position: relative;
  
  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    background-size: cover;
    background-image: url(/clouds.svg);
    background-position-y: bottom;
  }

  &::before {
    top: -1px;
    rotate: 180deg;
    background-position-x: 0%;
  }
  &::after {
    bottom: -1px;
    background-position-x: 100%;
  }
}

/* mask-b-from-66% is impacting performance in firefox (screen resize) */
@utility fast-mask-33 {
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 33%);
}

@layer base {
  p {
    @apply my-4;
  }
}

@utility d-label {
  @apply text-base-content;
}

/* remove default controls on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none; /* Safari */
}
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; /* Firefox */
}

/* remove autofill bg color in chromium */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* biome-ignore lint/correctness/noUnknownFunction: theme is a Tailwind function */
  /* biome-ignore lint/complexity/noImportantStyles: specifitcy needs to increased to max  */
  -webkit-box-shadow: 0 0 0 30px theme("colors.base-100") inset !important;
}
